@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.33/map-components/main.css";
@import "tailwindcss";


#root,
html,
body {
  height: 100%;
  margin: 0;
}
/* 
arcgis-map {
  display: block;
  height: 100vh;
} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --calcite-button-background-color: #769A96;
  --calcite-color-brand: #769A96;
  --calcite-color-status-info: #769A96;
  --calcite-ui-brand: #769A96;
  --calcite-slider-track-fill-color: #769A96;
  --calcite-slider-handle-extension-color: #769A96;
  --calcite-slider-accent-color: #769A96;
  --calcite-slider-tick-color: #769A96;
  --calcite-slider-tick-selected-color: #769A96;
  --calcite-slider-graph-color: #769A96;
  --calcite-color-brand-press: #769A96;
  --calcite-color-status-info:  #769A96;
  --calcite-segmented-control-icon-color: red

}
