@import "https://js.arcgis.com/calcite-components/3.2.1/calcite.css";
@import "https://js.arcgis.com/4.33/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/4.33/map-components/main.css";
@import "tailwindcss";

/* Remove ALL margin and padding from page roots, and fill viewport */
/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* remove default dark background if any */
}


/* If you use any other containers or wrappers, ensure they also have no margin/padding and fill parent */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #222;
  /* background-color removed to avoid black bars */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --calcite-color-brand: #769A96;
  --calcite-color-brand-press: #3C726C;
  --calcite-color-brand-hover: #15403C;
  --calcite-slider-track-fill-color: #769A96;
  --calcite-slider-handle-extension-color: #769A96;
  --calcite-slider-accent-color: #769A96;
  --calcite-slider-tick-color: #769A96;
  --calcite-slider-tick-selected-color: #769A96;
  --calcite-slider-graph-color: #769A96;


  --calcite-color-text-1: #08201E;
}

